<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523238757545-p5bgu8q2v4j3m7ne5d8bt1h469kshcvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523238757545-p5bgu8q2v4j3m7ne5d8bt1h469kshcvg</string>
	<key>API_KEY</key>
	<string>AIzaSyAJKOtqcAiCSJsheboYoFupU6IuTmzJmsA</string>
	<key>GCM_SENDER_ID</key>
	<string>523238757545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.ylab.Macchi</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-93e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-93e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523238757545:ios:f4375d182c27ed5a8705b8</string>
</dict>
</plist>